.bash_history
.bashrc
.cache/
.cloud-locale-test.skip
.conda/
.litespeed_password
.local/
.m2/
.profile
.python_history
.server.py.swo
.server.py.swp
.server2.py.swp
.ssh/
.viminfo
.vscode-server/
.wget-hsts
Miniconda3-latest-Linux-x86_64.sh
jdk-11.0.2/
lucene-index-covid-2020-03-20.tar.gz
lucene-index-covid-2020-03-27/
miniconda3/
anserini/
htmlFiles/
__pycache__/